body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
}

h1 {
    margin: 0px;
    font-size: 38px;
}

h2 {
    margin: 0px;
    font-size: 24px;
}

p, input, button {
    font-size: 16px;
}

input {
    margin-top: 10px;
}

input[type=range] {
    vertical-align: middle;
}

body, html {
    padding: 0px;
    margin: 0px;
    background-color: #f6f6f6;
}

#topBar {
    margin: 0px;
    padding: 10px;
    padding-left: 30px;
    background-color: #95d5ee;
    display: block;
}

#mainTable {
    margin: auto;
    margin-top: 50px;
    width: 90%;
    background-color: white;
    border-collapse: collapse;
    border: 2px solid black;
}
    
#mainTable td {
    vertical-align: top;
    padding: 10px;
    border-collapse: collapse;
    border: 2px solid black;
}

#controlArea {
    height: fit-content;
    display: none;
}

.controlMode {
    width: 100%;
    height: 100%;
    display: none;
}